 <!-- pie de página -->
 <footer>
    <div class="container">
        <div class="row">
            <div class="span4">
            	<div class="left-100 addr">
                    <h5>TQM</h5>
                    <p class="addr-home">(dirección),<br> (dirección)</p>
                    <p class="addr-phone">CEL: 55 3037 5279<br>Teléfono: 5816 5670 o 5077 3927</p>
                    <p class="addr-email">Correo: <br>ptorres@tqm.com.mx</p>
                    <ul class="social-icons">
                        <!--<li><a href="#"><img src="img/icon-1.png" alt=""></a></li>-->
                        <li><a href="https://www.facebook.com/gpotqm/"><img src="img/icon-2.png" alt=""></a></li>
                        <!--<li><a href="#"><img src="img/icon-3.png" alt=""></a></li>-->
                        <!--<li><a href="#"><img src="img/icon-4.png" alt=""></a></li>-->
                    </ul>
                </div>
            </div>  
        </div>  
    </div>
 </footer>