<header>  
  <div class="container">
    <div class="row">
        <div class="span12 header-block">
            <h1 class="brand"><a href="/"><span>TQM</span><strong>Tecnologia Quimica Mexicana</strong></a></h1> 
            <div class="navbar navbar_ clearfix">
              <div class="navbar-inner">                                                 
                <div class="nav-collapse nav-collapse_ collapse">
                  <ul class="nav sf-menu clearfix">
                    <li class="active"><a href="/">TQM</a></li>
                    <li class="sub-menu"><a href="#">Productos y Servicios</a>
                      <ul>
                          <li><a href="#">calentamiento de agua</a></li>
                          <li><a href="#">sistemas de vapor</a></li>
                          <li><a href="#">tratamiento de agua</a></li>
                          <li><a href="#">productos químicos</a></li>
                          <li><a href="#">control de legionella</a></li>
                        </ul>
                    </li>
                    <li><a href="/contacto">contáctenos</a></li>
                  </ul>
                </div>
              </div>
          </div>
        </div> 
      </div> 
    </div> 
</header>