
<div class='image-grid-calentamiento-de-agua'>
    <div><img style="width: 30vw; height: 20vh;"src='/img/detail/calentamiento_de_agua/Bombas_de_calor/HP_RGB_OS.jpg' /></div>
    <div><img style="width: 30vw; height: 20vh;"src='/img/detail/calentamiento_de_agua/EVO_Hamilton/1_2mbtu_hr_con_tanque_de_1000lt_OS.jpg' /></div>
    <div><img style="width: 30vw; height: 20vh;"src='/img/detail/calentamiento_de_agua/EVO_Hamilton/companion_indirect_OS.jpeg' /></div>
    <div><img style="width: 30vw; height: 20vh;"src='/img/detail/calentamiento_de_agua/EVO_Hamilton/PHOTO-2020-11-11-14-06-21_OS.jpg' /></div>
    <div><img style="width: 30vw; height: 20vh;"src='/img/detail/calentamiento_de_agua/EVO_Hamilton/sistema_de_calentamiento_OS.jpg' /></div>
    <div><img style="width: 30vw; height: 20vh;"src='/img/detail/calentamiento_de_agua/EVO_Hamilton/sistemas_a_la_medida_2_OS.jpeg' /></div>
    <div><img style="width: 30vw; height: 20vh;"src='/img/detail/calentamiento_de_agua/EVO_Hamilton/sistemas_a_la_medida_OS.jpeg' /></div>
    <div><img style="width: 30vw; height: 20vh;"src='/img/detail/calentamiento_de_agua/EVO_Hamilton/Agua_caliente/B2F03106-7BBB-4396-9C79-8057170BBD3C_OS.JPG' /></div>
    <div><img style="width: 30vw; height: 20vh;"src='/img/detail/calentamiento_de_agua/EVO_Hamilton/Agua_caliente/d3af60c5-4ff2-471e-84ac-00a1d8be1e33_OS.jpeg' /></div>
    <div><img style="width: 30vw; height: 20vh;"src='/img/detail/calentamiento_de_agua/Flodirect/flo_direct_OS.jpg' /></div>
    <div><img style="width: 30vw; height: 20vh;"src='/img/detail/calentamiento_de_agua/Flodirect/flodirect_OS.jpg' /></div>
    <div><img style="width: 30vw; height: 20vh;"src='/img/detail/calentamiento_de_agua/Bombas_de_calor/PIC_Feld_4_CMYK.jpg' /></div>
</div>