<div class='image-grid-sistemas-de-vapor'>
    <div><img style="width: 50vw; height: 30vh;" src='/img/detail/sistemas_de_vapor/Equipos/caldera_vertical_lattner_OS.jpeg' /></div>
    <div><img style="width: 50vw; height: 30vh;"src='/img/detail/sistemas_de_vapor/Equipos/Model_FTS_Gas_Steam-1536x1536_OS.png' /></div>
    <div><img style="width: 50vw; height: 30vh;"src='/img/detail/sistemas_de_vapor/Equipos/sistema_integral_lattner_OS.png' /></div>
    <div><img style="width: 50vw; height: 30vh;"src='/img/detail/sistemas_de_vapor/Vapor/sistema_de_agua_caliente_por_vapor_OS.jpeg' /></div>
</div>