<div class='image-grid-tratamiento-de-agua'>
    <div><img style="width: 14vw; height: 30vh;" src='/img/detail/tratamiento_de_agua/Pretratamiento/sistema_de_bombeo_on-off_OS.jpg' /></div>
    <div><img style="width: 14vw; height: 30vh;"src='/img/detail/tratamiento_de_agua/Pretratamiento/sistema_de_osmosis_inversa_OS.jpg' /></div>
    <div><img style="width: 14vw; height: 30vh;"src='/img/detail/tratamiento_de_agua/Pretratamiento/sistema_de_osmosis_inversa_para_lavado_OS.jpeg' /></div>
    <div><img style="width: 14vw; height: 30vh;"src='/img/detail/tratamiento_de_agua/proyectos_de_reuso_de_agua/sistema_de_bombeo_de_velocidad_variable_OS.jpg' /></div>
    <div><img style="width: 14vw; height: 30vh;"src='/img/detail/tratamiento_de_agua/servicio_y_control/sistema_automatico_de_dosificación_OS.jpg' /></div>
    <div><img style="width: 14vw; height: 30vh;"src='/img/detail/tratamiento_de_agua/servicio_y_control/sistema_de_dosificación_automatico_OS.jpg' /></div>
    <div><img style="width: 14vw; height: 30vh;"src='/img/detail/tratamiento_de_agua/Tratamiento_de_agua/1185325_486024774821547_52396255_n_OS.jpg' /></div>
    <div><img style="width: 14vw; height: 30vh;"src='/img/detail/tratamiento_de_agua/Tratamiento_de_agua/1669866_750866225004066_9169448978026217321_o_OS.jpg' /></div>
    <div><img style="width: 14vw; height: 30vh;"src='/img/detail/tratamiento_de_agua/Tratamiento_de_agua/12068622_884207685003252_1404641545777806972_o_OS.jpg' /></div>
    <div><img style="width: 14vw; height: 30vh;"src='/img/detail/tratamiento_de_agua/Tratamiento_de_agua/12069016_884207681669919_5288618190646208579_o_OS.jpg' /></div>
    <div><img style="width: 14vw; height: 30vh;"src='/img/detail/tratamiento_de_agua/Tratamiento_de_agua/15622152_1190865111004173_9057080797459120052_n_OS.jpg' /></div>
    <div><img style="width: 14vw; height: 30vh;"src='/img/detail/tratamiento_de_agua/Tratamiento_de_agua/73304577_2519109061513098_7453060682938843136_n_OS.jpeg' /></div>
    <div><img style="width: 14vw; height: 30vh;"src='/img/detail/tratamiento_de_agua/Tratamiento_de_agua/94756413_2910503172373683_2978623737479299072_n_OS.jpg' /></div>
    <div><img style="width: 14vw; height: 30vh;"src='/img/detail/tratamiento_de_agua/Tratamiento_de_agua/tratamiento_de_agua_de_calderas_OS.jpg' /></div>
</div>