<!DOCTYPE html>
<html lang="en">
<!-- Vista parcial del head -->
<%- include('./partials/head-index.ejs', {tituloWeb: '404'}) %>

<body>
  <!-- Vista parcial del header -->
  <%- include('./partials/header.ejs') %>

  <!--==============================content=================================-->
  <div class="content bot-0">
     <div class="container bot-2">
       <div class="row block-404">
            <div class="span8 center">   
                <!--<img src="img/404.jpg" alt="" style="height: 60vh;">-->
                <h1 style="font-size: 2000%;">404</h1>
            </div>
            <div class="span4 text-404">
                <h3>Una disculpa!<br>página no encontrada  </h3>
                <p class="upper">La página que está buscando podría haber sido eliminada,
                  su nombre cambió, o no está disponible temporalmente.</p>
                <!--<p class="bot-0 upper">Intente usar nuestro cuadro de búsqueda a continuación para buscar información en el sitio web.</p>
                <form id="search-form2" action="search.php" method="GET" accept-charset="utf-8" class="form-404 clearfix" >
                    <input type="text" name="s" onBlur="if(this.value=='') this.value=''" onFocus="if(this.value =='' ) this.value=''" value=""  >
                    <a href="#" class="btn" onClick="document.getElementById('search-form2').submit()">Search</a>
                </form> -->
            </div>  
    	</div>      
     </div> 
  </div>       
<!--==============================footer=================================-->
<!-- Vista parcial del footer -->
<%- include('./partials/footer.ejs') %>
<script src="/js/bootstrap.js"></script>
</body>
</html>