<!DOCTYPE html>
<html lang="en">

<!-- Vista parcial del head -->
<%- include('./partials/head.ejs') %>

<body>
  <!-- Vista parcial del header -->
  <%- include('./partials/header.ejs') %>
 

<!--==============================content=================================-->
  <div class="content bot-0">
    <div class="container bot-2"> 
        <div class="row">
         <div class="span12"> 
             <h3>Contacto</h3>
           <div class="map img-polaroid"><iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe></div>
         </div>
        </div> 
    </div> 
    <div class="bg-grey2 bot-2">
       <div class="container">
           <div class="row">
                
               <div class="span8">
                   <h3>Formulario de contacto</h3>
                   <form id="contact-form" class="contact-form" action="https://formsubmit.co/fernandohazel1@gmail.com"  method="POST">
                     <div class="success"> Formulario enviado! <strong>Pronto nos contáctaremos con usted.</strong> </div>
                     <fieldset>
                       <div class="coll-1">
                         <label class="name">
                           <input type="text" value="Nombre:" name="Nombre"><br>
                           <span class="error">*Este es un nombre válido.</span> <span class="empty">*Este campo es requerido.</span> </label>
                       </div>
                       <div class="coll-2">
                         <label class="email">
                           <input type="email" value="Correo:" name="Correo"><br>
                           <span class="error">*Esta no es una dirección de correo válida.</span> <span class="empty">*Este campo es requerido.</span> </label>
                       </div>
                       <div class="coll-3">
                         <label class="phone">
                           <input type="tel" value="Teléfono" name="Teléfono"><br>
                           <span class="error">*Este no es un número válido.</span> <span class="empty">*Este campo es requerido.</span> </label>
                       </div>

                       <!-- Falta verificar las validaciones y cambiar las clases a las correctas-->
                       <div class="coll-1">
                        <label class="name ">
                          <input type="text" value="Estado:" name="Estado"><br>
                          <span class="error">*Este no es un texto válido.</span> <span class="empty">*Este campo es requerido.</span> </label>
                      </div>
                      <div class="coll-2">
                        <label class="name">
                          <input type="text" value="Empresa:" name="Empresa"><br>
                          <span class="error">*Este no es un texto válido.</span> <span class="empty">*Este campo es requerido.</span> </label>
                      </div>
                      <div class="coll-3">
                        <label class="name">
                          <input type="text" value="Puesto" name="Puesto"><br>
                          <span class="error">*Este no es un texto válido.</span> <span class="empty">*Este campo es requerido.</span> </label>
                      </div>
                      

                       <div class="clear"></div>
                       <div>
                         <label class="message">
                           <textarea name="mensaje">Problema o necesidad</textarea><br>
                           <span class="error">*El mensaje es muy corto.</span> <span class="empty">*Este campo es requerido.</span> </label>
                       </div>

                       <!-- Este campo debe ser opcional -->
                       <div>
                        <label class="message notRequired">
                          <textarea name="Información adicional">Información adicional</textarea><br>
                          <span class="error">*El mensaje es muy corto.</span> <span class="empty">*Este campo es requerido.</span> </label>
                      </div>
                       <div class="clear"></div>
                       <div class="buttons-wrapper"><a class="btn" data-type="submit">Enviar</a><span class="text-info">*Campos requeridos</span></div>
                     </fieldset>
                   </form>
               </div> 
               <div class="span4">
                <h3>Address</h3>
                <address class="address">
                  <p><strong  class="text-info">(Dirección),<br>
    (Dirección)</strong>
                  <span>CEL:</span> 55 3037 5279<br>
                  <span>Teléfono:</span> 5816 5670 o 5077 3927<br>
                  E-mail: <a href="#" >ptorres@tqm.com.mx</a></p>
                </address>
            </div>  
             </div>    
        </div> 	
    </div>    
 </div>
 <!--==============================footer=================================-->
<!-- Vista parcial del footer -->
<%- include('./partials/footer.ejs') %>      
</body>
</html>